.Recents {
    margin: 2rem 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0*/
}

.Recents-title {
    margin: auto;
}

.Recents-button-container {
    margin: 1rem 0 0;

    display: flex;
    justify-content: center;
}

.Recents-btn {
    animation: fadeInUp .4s;
}
