.WeatherCard {
  /*border: 1px solid rgba(31, 0, 20, 0.89);*/
  box-shadow: .15rem .15rem .5rem rgba(217, 217, 217, 0.23);
  border-radius: .28571429rem;
  margin: auto;
  padding: 2rem;
  width: 20rem;
  text-align: center;
  animation: horizontalFlipIn 1s;

  /*background-color: #1F1B24;*/
}

.WeatherCard-icon-container {
  font-size: 3.5rem;
  margin: 2rem 0 0;
}

.WeatherCard-icon {
  margin: 0 0 2rem;
}

.WeatherCard-degrees {
  font-size: 4rem;
  margin: 0;
}
